.advantages {
	&__wrapper {
		max-width: 646px;
		margin: 0 auto;
		padding: 0 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		margin-bottom: 25px;
		@include adaptive-font(48, 34);
	}

	&__text {
		@include adaptive-font(22, 18);
		line-height: 28px;
		text-align: center;
	}

	&__button {
		margin-top: 25px;
		margin-bottom: 107px;
	}

	&__column {
		display: flex;
		justify-content: space-between;
	}

	&__box {
		border: 1px solid $accent;
		text-align: center;
		margin-left: 20px;
		padding-top: 50px;
		flex-basis: 315px;
		&:first-child {
			margin-left: 0;
		}
		span {
			color: $accent;
		}
	}

	&__box-title {
		font-weight: 600;
		font-size: 22px;
		line-height: 28px;
		margin-top: 30px;
		margin-bottom: 25px;
	}
	&__box-text {
		margin: 0px 45px 70px 45px;
	}
}

@include lg-d {
	.advantages {
		.container {
			max-width: 880px;
		}
		&__column {
			flex-wrap: wrap;
			justify-content: space-around;
		}
		&__box {
			margin: 30px 30px;
			&:first-child {
				margin-left: 30px;
			}
		}
	}
}
@include md-d {
	.advantages {
		&__button {
			margin-bottom: 56px;
		}
		&__box {
			flex-basis: 280px;
		}
	}
}

@include sm-d {
	.advantages {
		&__box {
			flex-basis: 345px;
			margin: 15px 15px;
		}
	}
}
