.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	transition: 0.15s linear;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	&__active {
		margin-top: -25px;
		background: rgba(255, 255, 255, 0.97);
		border-bottom: 2px solid $accent;
	}
	&__wrapper {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-top: 19px;
	}
	&__logo {
		margin-right: 170px;
	}
	&__menu {
		display: flex;
		flex-wrap: wrap;
		font-size: 18px;
		line-height: 23px;
	}
	&__list {
		position: relative;
		z-index: 2;
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		margin-left: 60px;
		&:first-child {
			margin-left: 0;
		}
	}
	&__link {
		transition: 0.15s linear;
		&:hover {
			color: $accent;
		}
	}
	&__language {
		display: flex;
		margin-left: 60px;
		a {
			transition: 0.15s linear;
		}
		a:hover {
			color: $accent;
		}
	}
	&__contacts {
		margin-left: 65px;
		font-weight: 450;
		font-size: 20px;
		line-height: 26px;
		white-space: nowrap;
	}
	&__phone {
		padding-left: 33px;
		background: url("../img/icons/phone-1.png") no-repeat;
		background-size: contain;
		background-position: left;
		display: flex;
		flex-wrap: nowrap;
	}
	&__burger {
		display: none;
	}
}
@include xl-d {
	.header {
		&__wrapper {
			justify-content: space-between;
		}
		&__logo {
			max-width: 220px;
		}
		&__item {
			margin-left: 30px;
		}
		&__language {
			margin-left: 40px;
		}
		.header__logo {
			margin-right: 30px;
		}
		&__contacts {
			margin-left: 30px;
		}
	}
}
@include lg-d {
	.header {
		&__wrapper {
			justify-content: space-around;
			height: 103px;
		}
	}
	.logo {
		display: none;
	}
}
@include md-d {
	.header {
		&__phone {
		}
		&__wrapper {
			height: 50px;
			position: relative;
		}
		&__burger {
			display: block;
			width: 30px;
			height: 20px;
			position: relative;
			z-index: 5;
		}
		&__burger span {
			position: absolute;
			background-color: $accent;
			left: 0;
			width: 100%;
			top: 9px;
			height: 2px;
			transition: all 0.3s ease 0s;
		}
		&__burger::before,
		&__burger::after {
			content: "";
			background-color: $accent;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all 0.3s ease 0s;
		}
		&__burger::before {
			top: 0;
		}
		&__burger::after {
			bottom: 0;
		}
		&__burger.active span {
			transform: scale(0);
		}
		&__burger.active::before {
			transform: rotate(45deg);
			top: 9px;
		}
		&__burger.active::after {
			transform: rotate(-45deg);
			bottom: 9px;
		}
		&__menu {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.9);
			padding: 70px 10px 20px 10px;
			transition: all 0.3s ease 0s;
			overflow: auto;
			align-items: center;
			justify-content: center;
		}
		&__menu.active {
			top: 0;
		}
		&__list {
			display: block;
			text-align: center;
		}
		&__list li {
			margin: 0px 0px 20px 0px;
		}
		&__link {
			margin-left: 0;
			font-size: 30px;
		}
		&__language {
		}
	}
}
@include sm-d {
	.header {
		&__item {
		}
	}
}
