.intro {
	background: url("../img/background-bg.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 234px;
	margin-top: 145px;
	margin-bottom: 42px;
	padding-left: 30px;

	&__title {
		@include adaptive-font(48, 26);

		padding-top: 170px;
	}

	&__button {
		margin-top: 52px;
	}
}

@include sm-d {
	.intro {
		padding-left: 0px;

		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__button {
		}
	}
}
