.intro {
  background: url("../img/background-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 234px;
  margin-top: 145px;
  margin-bottom: 42px;

  &__title {
    margin-left: 30px;
    font-weight: 450;
    font-size: 48px;
    line-height: 62px;
    padding-top: 170px;
    margin-bottom: 52px;
  }

  &__button {
    margin-left: 30px;
  }
}
