.intro {
	background: url("../img/background-bg.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 234px;
	margin-top: 145px;
	padding-left: 30px;

	&__title {
		@include adaptive-font(48, 26);
		padding-top: 170px;
	}

	&__button {
		margin-top: 52px;
	}
}
@include lg-d {
	.intro {
		margin-top: 110px;
	}
}
@include md-d {
	.intro {
		margin-top: 40px;
	}
}
@include sm-d {
	.intro {
		background-size: 140%;
		background-position: inherit;
		padding-left: 0px;
		padding-bottom: 100px;
		&__title {
			padding-top: 70px;
			line-height: 40px;
		}
		.container {
			display: flex;
			flex-direction: column;
		}
		&__button {
			margin-top: 20px;
		}
	}
}
