.price {
	.del {
		display: none;
	}
	.small-container {
		margin-top: 60px;
	}
	&__tabs {
		display: flex;
		justify-content: space-around;
		font-weight: 600;
		font-size: 24px;
		line-height: 31px;
		margin-bottom: 72px;
		@include lg-d {
			flex-wrap: wrap;
		}
	}
	&__lesson {
		@include md-d {
			margin-top: 15px;
			flex: 0 0 50%;
			text-align: center;
		}
		@include xs-d {
			flex: 0 0 100%;
		}
	}

	.active-tab {
		color: $accent;
	}

	&__content {
		display: none;
	}
	&__content:first-child {
		display: flex;
		justify-content: space-around;
	}

	&__wrapper .active-tab {
		display: flex;
	}
	&__lesson {
		transition: 0.2s linear;
		&:hover {
			cursor: pointer;
			color: $accent;
		}
	}
	&__title {
		padding-top: 70px;
		text-align: center;
	}

	&__box {
		flex-basis: 200px;
		margin: 10px;
		padding: 38px 14px 48px 14px;
		border: 1px solid $accent;
		transition: all 0.5s ease;
		&:hover {
			margin: 0px;
			padding: 48px 24px 58px 24px;
			transition: all 0.5s ease;
		}
	}
	&__box-name {
		font-weight: 600;
		font-size: 22px;
		line-height: 28px;
		text-align: center;
		margin-bottom: 36px;
	}
	&__box-check {
		margin-top: 12px;
		padding-left: 24px;
		background: url("../img/icons/check.png") no-repeat;
	}
	&__box-sum {
		font-size: 45px;
		line-height: 154.5%;
		letter-spacing: 0.03em;
		text-align: center;
		margin-top: 21px;
	}
	&__box-uan {
		font-size: 18px;
		line-height: 23px;
		text-align: center;
	}
	&__button {
		margin-top: 29px;
		margin-right: 31px;
		margin-left: 31px;
	}

	.container {
		margin-top: 75px;
		text-align: center;
		@include adaptive-font(22, 17);
		line-height: 28px;
		@include sm-d {
			margin-top: 50px;
		}
	}
}
@include lg-d {
	.price {
		&__content {
			flex-wrap: wrap;
		}
		&__box {
			margin-top: 20px;
		}
	}
}
@include md-d {
	.price {
		&__title {
			padding-top: 30px;
		}
	}
}
@include xs-d {
	.price {
		.small-container {
			margin-top: 30px;
		}
	}
}
