.review {
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  padding: 95px 0 82px;

  h2 {
    text-align: center;
    margin-bottom: 96px;
  }

  &__intro {
    min-width: 0;
  }

  &__wrapper {
    max-width: 800px;
    margin: 0 auto;
    min-width: 0;
    margin-top: 5px;
    position: relative;
    display: flex;
    .slick-track {
      display: flex;
      align-items: flex-start;
    }
    .slider {
      min-width: 0;
    }
    .slick-list {
      margin: 0 5px;
      overflow: hidden;
    }
    .slick-arrow {
      position: absolute;
      top: 33%;
      z-index: 10;
      font-size: 0;
      border: solid $accent;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 22px;
    }
    .slick-prev {
      left: -80px;
      background: rgba(0, 0, 0, 0);
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
    .slick-next {
      right: -80px;
      background: rgba(0, 0, 0, 0);
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }

  &__img {
    display: inline-block;
    margin-bottom: 11px;
    text-align: center;
    // outline: medium none;
  }
  &__img img {
    border-radius: 50%;
    cursor: pointer;
    display: inline-block !important;
    height: 120px;
    margin-bottom: 30px;
    margin-top: 36px;
    outline: 0 none;
    width: 120px;
  }
  &__img.slick-current img {
    height: 180px;
    margin-top: 0;
    // opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    width: 180px;
  }

  &__text {
    min-width: 0;
    .slick-track {
      display: flex;
      align-items: flex-start;
    }
    .slider {
      min-width: 0;
    }
    .slick-list {
      margin: 0 5px;
      overflow: hidden;
    }
    .slider__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__content {
    max-width: 816px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
    position: relative;
    top: 0;
    left: 0;

    &__quote {
      margin-top: 27px;
      text-align: center;
    }
  }
}
